-c requirements.txt
-r requirements.in

# tests
mypy
coverage
pytest
pytest-asyncio
black
flake8<4 # flake8==4.0.1 pins importlib-metadata<4.3 which leads to a conflict
isort
nox
boto3
google-api-core
google-cloud-storage
azure-storage-blob
tenacity
types-requests
types-python-dateutil
types-cachetools
types-redis
types-tabulate
# cli
memory-profiler
networkx
# api
uvicorn
fastapi
httpx
# releases
bump-my-version
# docs
mkdocs-material
pymdown-extensions>=10.0  # resolve CVE-2023-32309
wheel>=0.38.1  # resolve CVE-2022-40898
# pip
pip-tools
# azure deps
cryptography>=41.0.2  # resolve CVE-2023-0286
