-c requirements.txt
-r requirements.in

# tests
mypy
coverage
pytest
pytest-asyncio
black
flake8<4 # flake8==4.0.1 pins importlib-metadata<4.3 which leads to a conflict
isort
nox
google-api-core
google-cloud-storage
azure-storage-blob
tenacity
types-requests
types-python-dateutil
types-cachetools
types-redis
types-tabulate
# cli
memory-profiler
networkx
# api
uvicorn
fastapi
# releases
bump2version
# docs
mkdocs-material
pymdown-extensions
# pip
pip-tools
