-r requirements.txt

# tests
mypy==0.812
coverage
pytest
pytest-asyncio
uvicorn
fastapi
black
flake8
isort
nox
# cli
memory-profiler
networkx
# releases
bump2version
# optional
grpcio
tensorflow
tensorflow-serving-api
# docs
mkdocs-material
pymdown-extensions
# pip
pip-tools
